In [1]:
# Python list (or array) is a contiguous storage of memory
# Indexed from 0 to n - 1, where n = length of list
# Can contain mix of data (strings, integers, etc.)

In [6]:
l1 = [1, 2, 3, 4, 5]

type(l1) #List

list

In [7]:
l2 = [1, 2.345, "hello", True]
l2

type(l2)

list

In [8]:
l3 = ["testing", 1, 2.345, True, l1] # List containing mixed data types and another list

type(l3)

list

In [9]:
range(15) # An iterator/generator that saves memory when compared to a list

range(0, 15)

In [10]:
list(range(15)) # List representation of the generator

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [14]:
x = [1, 2, 3, 4, 5, 6, 7]
x

[1, 2, 3, 4, 5, 6, 7]

In [15]:
y = list(range(8))
y

[0, 1, 2, 3, 4, 5, 6, 7]

In [16]:
y1 = list(range(100, 120)) #Note the list will go from 100-119
y1

[100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119]

In [19]:
w = list(range(0, 200, 2)) # We specify the bounds of range and the step 
w

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198]

In [20]:
a = ["a", "b", "c", "d", "e"]
a

['a', 'b', 'c', 'd', 'e']

In [21]:
a[0] # [i] allows us to access the i-th element in the list where 0 <= i < n

'a'

In [22]:
len(a) # gives us total number of elements in the list

5

In [24]:
a[-1] # [-k] for 1 <= k < n gives us the (n - k + 1)th item in the list

'e'

In [25]:
a[:] # : operator allows us to slice (or subset) the array

['a', 'b', 'c', 'd', 'e']

In [26]:
a[2:5]

['c', 'd', 'e']

In [27]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [28]:
b[1:10:2] # we can also specify the step size for slicing

[2, 4, 6, 8, 10]

In [29]:
b[::-1] # negative step allows us to reverse the list

[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [30]:
# We define a tuple as an immutable list

In [31]:
t1 = (1, 2, 3, 4, 5)

In [32]:
t1[0] # we still access the list

1

In [34]:
# if we try to re-assign any value in the tuple, we get an error