### Understanding Thompson Sampling

Recall that multi-armed bandit problem

Thompson Sampling  algorithm:
1) At each round n, we consider two numbers for each ad i:
- the number of times ad i got reward 1 up to round n
- the number of times ad i got reward 0 up to round in
2) For each ad i, take a random draw from the following distribution:
- theta_i(n) = beta(N_i,1(n) + 1, N_i,0(n) + 1)
3) Select the ad with the highest theta_i(n) value

Consider the case with a 3-armed bandit:
- Consider a plot of y vs. expected return for each bandit
- Recall that each bandit has an underlying distribution that determines success/failure
- After repeated sampling, we can construct a distribution to predict where the expected return is expected to be

### Importing libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Importing the dataset

In [2]:
dataset = pd.read_csv('Ads_CTR_Optimisation.csv')
dataset.head()

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0

### Implementing the Thompson Sampling algorithm

In [ ]:
import random
N = 10**4
d = 10
ads_selected = []
number_of_rewards_1 = [0] * d
number_of_rewards_0 = [0] * d
total_reward = 0
for n in range(0, N):
    ad = 0
    max_random = 0
    for i in range(0, d):
        random_beta = random.betavariate(number_of_rewards_1[i] + 1, 
                                         number_of_rewards_0[i] + 1)
        if(random_beta > max_random):
            max_random = random_beta
            ad = i
            ads_selected.append(ad)
            reward = dataset.values[n, ad]
    if (reward == 1):
        number_of_rewards_1[ad] += 1
    else:
        number_of_rewards_0[ad] += 1

### Visualizing results