### Intuition

General purpose of Boltzmann machines is recommendation systems.

General architecture:
- Visible and hidden nodes

- No output nodes

- Input nodes are all interconnected

- Boltzmann machines do not just expect input data, but they also generate data

In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [34]:
movies = pd.read_csv("ml-1m/movies.dat", sep = "::",
                    header = None, engine = "python",
                    encoding = "latin-1")
users = pd.read_csv("ml-1m/users.dat", sep = "::",
                    header = None, engine = "python",
                    encoding = "latin-1")
ratings = pd.read_csv("ml-1m/ratings.dat", sep = "::",
                    header = None, engine = "python",
                    encoding = "latin-1")
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [35]:
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [36]:
ratings.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

In [37]:
training_set = pd.read_csv("ml-100k/u1.base", delimiter = "\t",
                          header = None)
training_set = np.array(training_set, dtype = "int")
test_set = pd.read_csv("ml-100k/u1.test", delimiter = "\t",
                          header = None)
test_set = np.array(test_set, dtype = "int")

In [38]:
nb_users = int(max(max(training_set[:, 0]), max(training_set[:, 0])))
nb_movies = int(max(max(training_set[:, 1]), max(training_set[:, 1])))

In [39]:
nb_users, nb_movies

(943, 1682)

In [40]:
# Convert data into an array with row = user and column = movie

def convert(data):
    new_data = []
    for id_users in range(1, nb_users + 1):
        id_movies = data[:, 1][data[:, 0] == id_users]
        id_ratings = data[:, 2][data[:, 0] == id_users]
        ratings = np.zeros(nb_movies)
        ratings[id_movies - 1] = id_ratings
        new_data.append(list(ratings))
    return new_data
training_set = convert(training_set)
test_set = convert(test_set)

In [41]:
# convert our data into Torch tensors

training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

In [42]:
training_set

tensor([[5., 3., 4.,  ..., 0., 0., 0.],
        [4., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [5., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 5., 0.,  ..., 0., 0., 0.]])

In [43]:
# converting the ratings into binary ratings 1(Liked) or 0 (Not Liked)
training_set[training_set == 0] = -1
training_set[training_set == 1] = 0
training_set[training_set == 2] = 0
training_set[training_set >= 3] = 1

test_set[test_set == 0] = -1
test_set[test_set == 1] = 0

# 2 separate conditions because "OR" operator is ineffective for Tensors
test_set[test_set == 2] = 0 
test_set[test_set >= 3] = 1

In [44]:
training_set

tensor([[ 1.,  1.,  1.,  ..., -1., -1., -1.],
        [ 1., -1., -1.,  ..., -1., -1., -1.],
        [-1., -1., -1.,  ..., -1., -1., -1.],
        ...,
        [ 1., -1., -1.,  ..., -1., -1., -1.],
        [-1., -1., -1.,  ..., -1., -1., -1.],
        [-1.,  1., -1.,  ..., -1., -1., -1.]])

In [45]:
test_set

tensor([[-1., -1., -1.,  ..., -1., -1., -1.],
        [-1., -1., -1.,  ..., -1., -1., -1.],
        [-1., -1., -1.,  ..., -1., -1., -1.],
        ...,
        [-1., -1., -1.,  ..., -1., -1., -1.],
        [-1., -1., -1.,  ..., -1., -1., -1.],
        [-1., -1., -1.,  ..., -1., -1., -1.]])

In [46]:
# Creating the architecture for the neural network
# Restricted Boltzmann Machine
class RBM():
    def __init__(self, nv, nh): #nv = # of visible nodes, #nh = # of hidden nodes
        # first randomly initialize weights of tensor
        self.W = torch.randn(nh, nv)
        # initialize bias for hidden nodes
        self.a = toch.randn(1, nh)
        # initialize bias for visible nodes
        self.b = torch.randn(1, nv)